#historicPreservationMap {
    width: 100%;
    height: 700px
}

.historic-buildings-popup {
    text-align: center;
}

.historic-buildings-number{
    background:blue;
    color:white;
    width:30px;
    height:30px;
    border-radius:5px;
    text-align:center;
    padding-top:5px;
    font-size:16px;
}
.historic-buildings-popup .leaflet-popup-content-wrapper {
    /*background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;*/
}

.historic-buildings-popup .leaflet-popup-content-wrapper a {
    /*color: rgba(255, 255, 255, 0.5);*/
}

.historic-buildings-popup .leaflet-popup-tip-container {
    /*width: 30px;
    height: 15px;*/
}

.historic-buildings-popup .leaflet-popup-tip {
    /*border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2c3e50;*/
}
