body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

.leaflet-container {
    z-index: 1;
}

#historicPreservationMap,
#lafayetteSquareMap {
    width: 100%;
    height: 400px
}

#historicPreservationLegend {
    background: #eee;
    padding: 5px 10px 15px 10px;
    margin: 10px auto;
}

#historicPreservationLegend .item {
    width: 18px;
    height: 18px;
    background: rgba(255, 220, 87, 0.5);
    float: left;
    margin-right: 10px;
    border: 4px solid #ffdc57;
}

.historic-buildings-popup {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.historic-buildings-popup a {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.historic-buildings-popup a:hover {
    color: white;
}

.historic-buildings-popup img {
    float: left;
    display: block;
    margin-right: 10px;
    border: 2px solid #fff;
}

.historic-buildings-number {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fa0d1+0,4fa0d1+60,316c8c+100 */
    background: #4fa0d1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4fa0d1 0%, #4fa0d1 60%, #316c8c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4fa0d1 0%, #4fa0d1 60%, #316c8c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4fa0d1 0%, #4fa0d1 60%, #316c8c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4fa0d1', endColorstr='#316c8c', GradientType=0);
    /* IE6-9 */
    color: white;
    width: 30px;
    height: 33px;
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.41);
    border: 1px solid #316c8c;
    font-weight: bold;
}

.leaflet-popup-tip {
    border-top-color: #316c8c;
}

.leaflet-popup-content-wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fa0d1+0,4fa0d1+60,316c8c+100 */
    background: #4fa0d1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4fa0d1 0%, #4fa0d1 60%, #316c8c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4fa0d1 0%, #4fa0d1 60%, #316c8c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4fa0d1 0%, #4fa0d1 60%, #316c8c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4fa0d1', endColorstr='#316c8c', GradientType=0);
    /* IE6-9 */
    color: white;
    border-radius: 10px;
    /*-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.41);*/
    border: 1px solid #316c8c;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #fff;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #fff;
}

.historic-buildings-marker-tip-container {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    position: relative;
}

.historic-buildings-marker-tip {
    width: 0;
    height: 0;
    margin: 0;
    margin-top: -3px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #316c8c;
    box-shadow: none;
}